{% extends 'base.html' %}

{% block content %}
<div id="home">
        <div class="callout">
            <div id="home-desc">
                <br><br><br><br><br>
                <h1 style="color: red; font-size: 300;"><b>ERROR</b></h1>
                <br>
                <p style="font-size: 125;">There was an error in the filling out of the form. This may either be because of an invalid or insufficient entry. Please proceed back to the main page.</p>
            </div>
        </div>
    </section>
</div>
</body>
{% endblock %}